<!DOCTYPE html>
<html>
    <head>
        <title>Hadiths Project</title>
        <script src="/javascripts/libs/json2.js"></script>
        <script src="/javascripts/libs/jquery.js"></script>
        <script src="/javascripts/libs/underscore.js"></script>
        <script src="/javascripts/libs/backbone.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <%- body %>
    </body>
    <script src="/javascripts/modules/Hadith/module.map.js"></script>
    <script src="/javascripts/app.js"></script>
</html>